**/vunit_out
*.pyc
*.bak
*.o
*.so
*.egg-info
.devcontainer
.tox
.vscode
env/
venv/
error.csv
log.csv
my_logger.csv
/build/
/dist/
/examples/vhdl/array_axis_vcs/src/test/data/out.csv
/tests/acceptance/*_out
/tests/unit/test_report_output.txt
/vunit/vhdl/check/test/tb_check_equal.vhd
/vunit/vhdl/check/test/tb_check_match.vhd

.venv

# test artifacts
/vunit_results
/tests/acceptance/artificial/vhdl/modified_test_history/0
/tests/acceptance/artificial/vhdl/modified_test_history/1
/OSVVM_transcript.yml
/tempdir

# Rust build artifacts
/target
